<% include ../common/header %>


<section class="content">
    <div class="left-box">
        <% include ../common/left %>
    </div>
    <div class="right-box">
        <div class="right-content publish-page">
            <h2 class="title">分配角色</h2>
            <div class="form-box">
                <input type="hidden" id="userId" value="<%=userAccount.userId %>" name="userId">
                <input type="hidden" id="localMenu" value="<%=localMenu%>" name="localMenu">
                <div class="row">
                    <label class="label">用户名:<span>*</span></label>
                    <div class="input-box"><input class="input" type="text" name="userName" id="userName" value="<%=userAccount.userName %>" readonly></div>
                </div>
                <div class="row">
                    <label class="label-txt">角色名:<span>*</span></label>
                    <div class="input-box">
                        <select class="input" id="roleId" name="roleId">
                            <% for(var i=0;i<roles.length;i++){%>
                                <%if(roles[i].id === userAccount.roleId){%>
                                    <option value="<%= roles[i].id%>" selected><%= roles[i].roleName%></option>
                                <%}else{%>
                                    <option value="<%= roles[i].id%>"><%= roles[i].roleName%></option>
                                <%}%>
                            <%}%>
                        </select>
                    </div>
                </div>
                <div class="row row-btn">
                    <div class="text-center">
                        <button type="button" class="save-btn active" id="submit_btn">保存</button>
                        <button type="button" class="cancel-btn" onclick="history.back()">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<% include ../common/commonJs %>
<script type="text/javascript" src="/admin/js/user/assign.js"></script>
<script type="text/javascript" src="/admin/js/message.js"></script>
