<% include ../common/header %>


<section class="content">
    <div class="left-box">
        <% include ../common/left %>

    </div>
    <div class="right-box">
        <!--  <div class="top"><input type="text" class="search-txt" placeholder="请输入文章名称"><button type="button" class="search-btn">搜索</button></div> -->
        <div class="right-content publish-page">
            <!-- <div class="actions">
                <button type="button" class="publish-btn"><i class="ico ico-publish"></i>发布
                </button>
                <button type="button" class="del-btn"><i class="ico ico-del"></i>删除</button>

                 <button type="button" class="category-btn">全部分类<i class="ico ico-type-down"></i></button>
            </div> -->
            <h2 class="title">编辑用户</h2>
            <div class="form-box">
                <form action="/admin/user/edit" method="post" id="userAccountEdit_form" enctype='multipart/form-data' >
                    <!-- <h3>注： 带 * 为必填项</h3> -->
                    <input type="hidden" id="id" value="<%=userAccount.id %>" name="id">
                    <input type="hidden" id="localMenu" value="<%=localMenu%>" name="localMenu">
                    <div class="row">
                        <label class="label">用户名:<span>*</span></label>
                        <div class="input-box"><input class="input required" type="text" name="userName" id="userName" value="<%=userAccount.userName %>" ></div>
                    </div>

                    <div class="row">
                        <label class="label">昵称 :<span>*</span></label>
                        <div class="input-box"><input class="input required" type="text" name="nickName" id="nickName" value="<%= userAccount.nickName %>" ></div>
                    </div>

                    <div class="row">
                        <label class="label">真实姓名 :<span></span></label>
                        <div class="input-box"><input class="input" type="text" name="realName" id="realName" value="<%= userAccount.realName %>" ></div>
                    </div>

                    <div class="row">
                        <label class="label">邮箱:<span></span></label>
                        <div class="input-box"><input class="input" type="text" name="email" id="email" value="<%= userAccount.email %>" ></div>
                    </div>
                    <div class="row">
                        <label class="label">个人博客地址:<span></span></label>
                        <div class="input-box"><input class="input" type="text" name="website" id="website" value="<%= userAccount.website %>" ></div>
                    </div>
                    <div class="row">
                        <label class="label">头像:<span></span></label>
                        <div class="input-box">
                            <% if(userAccount.picPath && userAccount.picPath.length>0){ %>
                            <img src="<%-userAccount.picPath %>" width="50" height="50">
                            <% }else{ %>
                            <img src="/admin/images/pic.png" width="50" height="50">
                            <% } %>

                            <span class="preview">预览：50X50像素</span>
                            <!--<img src="public/files/-6xB2ytqbtnZZeft2YMaWlsL.jpg" >-->
                            <input class="input" type="hidden" name="picPath" id="picPath" >
                            <!--<form action="/admin/user/uploading" method="post" enctype='multipart/form-data' >-->
                            <input  type="file" name="inputFile"  multiple='mutiple' >  <!-- id="picPath"-->
                            <!--<input   name="btnUp"   type='submit' value='上传'>-->
                            <!--</form>-->

                        </div>
                    </div>
                    <!--<div class="row">-->
                    <!--<label class="label">密码:<span>*</span></label>-->
                    <!--<div class="input-box">-->
                    <!--<input class="input" type="text" name="password" id="password"  value="<%= user.password %>" >-->

                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="row">-->
                    <!--<label class="label">重复密码:<span>*</span></label>-->
                    <!--<div class="input-box">-->
                    <!--<input class="input" type="text" name="repassword" id="repassword" >-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="row">
                        <label class="label">用户简介:<span></span></label>
                        <div class="input-box">
                            <textarea id="userDesc" name="userDesc" style="width:100%;" rows="10"><%= userAccount.userDesc %> </textarea>

                        </div>
                    </div>

                    <div class="row">
                        <label class="label">出生年月:<span></span></label>
                        <div class="input-box">
                            <input class="input Wdate" type="text" name="birth" id="birth" autocomplete="off"  data="<%= userAccount.birth %>" onClick="WdatePicker({lang:'zh-cn',dateFmt:'yyyy-MM-dd'})"  placeholder="yyyyMMdd" style="width:25%" value="">

                        </div>
                    </div>

                    <div class="row">
                        <label class="label">性别:<span></span></label>
                        <div class="input-box">
                            <input type="hidden" id="sex" value="<%= userAccount.sex %>">
                            <input class="input111" type="radio"  name="sex" value="0" > 男
                            <input class="input111" type="radio" name="sex" value="1"  > 女

                        </div>
                    </div>

                    <div class="row">
                        <label class="label">所在地区:<span></span></label>
                        <div class="input-box">
                            <div id="citySelect">
                                <div class="addr-box"><select class="prov category-btn"  id="province" name="province" data-val="<%= userAccount.province %>"></select><i class="ico ico-type-down"></i></div>
                                <div class="addr-box"><select class="city category-btn" disabled="disabled" id="city" name="city"  data-val="<%= userAccount.city %>"></select><i class="ico ico-type-down"></i></div>
                                <div class="addr-box"><select class="dist category-btn" disabled="disabled" id="district" name="district"  data-val="<%= userAccount.district %>"></select><i class="ico ico-type-down"></i></div>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <label class="label">详细地址:<span></span></label>
                        <div class="input-box">
                            <input class="input" type="text" name="address" id="address" value="<%= userAccount.address %>" />
                        </div>
                    </div>

                    <div class="row row-btn">
                        <div class="text-center">
                            <!--<button type="button" class="save-btn active" id="submit_btn">保存</button>-->
                            <button class="save-btn active"    type="submit" >保存</button>
                            <button type="button" class="cancel-btn" onclick="history.back()">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



<!-- 页尾内容 -->
<!--  <footer class="foot">

    </footer> -->
<% include ../common/commonJs %>
<script src="/admin/js/user/edit.js"></script>
<script src="/admin/js/user/validate.js"></script>
<script type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="/admin/js/message.js"></script>
<script type="text/javascript" src="/js/citySelect/jquery.cityselect.js"></script>
<script src="/libs/moment/moment.js"></script>

<script type="text/javascript">
    //设置性别
    var sex=$("#sex").val();
    if(sex==0){
        $("input:radio[value='0']").attr("checked",'true')
    }else {
        $("input:radio[value='1']").attr("checked",'true');
    }
    //设置城市
    $(function(){
        $("#citySelect").citySelect({
            nodata:"none",
            required:false
        });
    });

    //设置出生年月
    var birth=$("#birth").attr("data");
    //alert(birth);//Mon Nov 09 2015 00:00:00 GMT+0800 (中国标准时间)
    var date=moment(birth).format('YYYY-MM-DD');
    $("#birth").val(date);
</script>