<% include ../common/header %>


    <section class="content">
        <div class="left-box">
            <% include ../common/left %>

       </div>

       <div class="right-box">
          <div class="top"><input type="text" class="search-txt"  id="keyword" value="<%=keyword %>" placeholder="请输入文章名称"><button type="button" class="search-btn" id="search_btn" >搜索</button></div>
           <div class="right-content">
               <div class="actions">
                   <input type="hidden" id="localMenu" value="<%=localMenu%>" name="localMenu">
                   <% if(user&&user.urls['article_add']){ %>
                   <button type="button" class="publish-btn" id="add_btn"><i class="ico ico-publish"></i>发布
                   </button>
                   <% } %>
                   <% if(user&&user.urls['article_del']){ %>
                   <button type="button" class="del-btn" id="del_all_btn"><i class="ico ico-del"></i>删除</button>
                  <% } %>
                    <!-- <button type="button" class="category-btn">全部分类<i class="ico ico-type-down"></i></button> -->
                    <select class="category-btn" id="category_btn">
                      <option value="">全部分类</option>
                      <% for(var i=0,len=categorys.length;i<len;i++){ %>
                      <option value="<%=categorys[i].categoryCode %>" <%if (categoryCode==categorys[i].categoryCode){%>selected<%}%>><%=categorys[i].categoryName %></option>
                      <% } %>
                    </select><i class="ico ico-type-down"></i>
               </div>
               <table class="table" border="0" cellpadding="0" cellspacing="0">
                   <thead>
                       <tr>
                            <% if(user&&user.urls['article_del']){ %>
                            <td width="5%"><input type="checkbox"  class="ico" id="checkall"></td>
                            <%}%>
                           <td width="5%">序号</td>
                           <td width="30%">文章标题</td>
                           <td width="10%">文章类别</td>
                           <td width="10%">文章状态</td>
                           <td width="10%">作者</td>
                           <!--<td width="10%">发表时间</td>-->
                           <td width="30%">操作</td>
                       </tr>
                   </thead>
                   <tbody id="datalist">
                      <% for(var i=0,len=articles.length;i<len;i++){ %>
                       <tr>
                       <% if(user&&user.urls['article_del']){ %>
                           <td><input type="checkbox"  class="ico" name="ids" value="<%=articles[i].id %>"></td>
                           <%}%>
                           <td><%= articles[i].id %></td>
                           <td><%= articles[i].title %></td>
                           <!--<td><= articles[i].articleCode ></td>-->
                           <td><%= articles[i].categoryName %></td>
                           <td>
                              <% if(articles[i].status==0){ %>
                                  <span class="alert alert-warn">未审核</span>
                              <%}else if(articles[i].status==1){ %>
                                  <span class="alert alert-success">通过</span>
                              <%}else if(articles[i].status==2){ %>
                                  <span class="alert alert-danger">未通过</span>
                              <%}else{%>
                              <span class="alert alert-warn">未审核</span>
                              <%}%></td>
                           <td><%= articles[i].author %></td>
                           <!--<td><= user.userName ></td>-->
                           <!--<td><=articles[i].createTime ></td>-->
                           <td>
                            <div class="operate-action">
                            <% if(user&&user.urls['article_verfiy']){ %>
                            <button class="edit-btn verify-btn" type="button" data-id="<%=articles[i].id %>">审核</button>
                            <%}%>
                            <% if(user&&user.urls['article_view']){ %>
                            <button type="button" class="view-btn" onclick="window.location.href='/admin/article/view/<%=articles[i].id %>'"><i class="ico ico-view"></i>查看</button>
                            <%}%>
                            <% if(user&&user.urls['article_edit']){ %>
                            <button type="button" class="edit-btn"  onclick="window.location.href='/admin/article/edit/<%=articles[i].id %>'"><i class="ico ico-edit"></i>编辑</button>
                            <%}%>
                            <% if(user&&user.urls['article_del']){ %>
                            <button type="button" class="del-btn" data-id="<%=articles[i].id %>" ><i class="ico ico-del"></i>删除</button>
                            <%}%>
                            </div>
                           </td>
                       </tr>
                       <% } %>
                       <tr>
                           <td colspan="7">
                               <div class="pager-box">
                                   <%-pagerResult%>
                               </div>
                           </td>
                       </tr>
                   </tbody>
               </table>

           </div>
       </div>
    </section>


    <section class="wrap page-top-box">
        <div class="page-top">
            <a href="#top"><i class="ico ico-top"></i></a>
        </div>
    </section>

<% include ../common/commonJs %>
<script type="text/javascript" src="/admin/js/message.js"></script>
<script type="text/javascript" src="/admin/js/article/list.js"></script>
<script type="text/javascript" src="/admin/js/message.js"></script>
